In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Load the dataset

In [2]:
eights = pd.read_csv('ROADWAY_PHILADELPHIA_2008.csv')

Check the columns, if useful or not

In [3]:
eights.head()

,CRN,ACCESS_CTRL,ADJ_RDWY_SEQ,LANE_COUNT,OFFSET,RDWY_COUNTY,RDWY_ORIENT,RDWY_SEQ_NUM,ROAD_OWNER,ROUTE,SEGMENT,SPEED_LIMIT,STREET_NAME
0,2008095599,3.0,3,2.0,75.0,67,E,3,2,0073,70.0,30.0,COTTMAN AV
1,2008050379,NaN,4,99.0,NaN,67,W,3,4,NaN,NaN,NaN,LATIMER ST
2,2008041291,NaN,4,2.0,NaN,67,W,4,4,NaN,NaN,30.0,CHELTEN AV
3,2008072587,3.0,3,2.0,964.0,67,E,3,2,3023,50.0,25.0,CHESTER AV
4,2008060173,NaN,3,1.0,NaN,67,E,4,4,NaN,NaN,NaN,CUMBERLAND ST

Get rid of unwanted columns

In [4]:
delcoleights = eights.drop(columns=['ACCESS_CTRL', 'OFFSET', 'RDWY_COUNTY', 'RDWY_ORIENT', 'ROAD_OWNER'])

Check if the columns were deleted

In [5]:
delcoleights.head()

,CRN,ADJ_RDWY_SEQ,LANE_COUNT,RDWY_SEQ_NUM,ROUTE,SEGMENT,SPEED_LIMIT,STREET_NAME
0,2008095599,3,2.0,3,0073,70.0,30.0,COTTMAN AV
1,2008050379,4,99.0,3,NaN,NaN,NaN,LATIMER ST
2,2008041291,4,2.0,4,NaN,NaN,30.0,CHELTEN AV
3,2008072587,3,2.0,3,3023,50.0,25.0,CHESTER AV
4,2008060173,3,1.0,4,NaN,NaN,NaN,CUMBERLAND ST